@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 240, 240);
    /* background-color: rgba(255, 235, 80, 0.586); */
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #101e5a;
    padding: 3px 0;
    width: 100%;
    align-items: center;
    top: 0;
}
.nav{
    display: block;
    width: 250px;
    background-color:#101e5a;
    color: white;
    /* padding: 10px 0; */
}
.nav::-webkit-scrollbar{
    display: none;
}
.nav ul {
    width: 250px;
}

.nav ul li{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    color: #bdc3ff;
    align-items: center;
    border-left:3px solid #101e5a;
    cursor: pointer;
}
.nav ul li i{
    width: 30px;
}
.nav ul a{
    color: #bdc3ff;
    transition: 0.5s;
}

.nav ul li:hover{
    background-color:rgb(0, 0, 51);
    border-left:3px solid #5d80b6;
    color: white;
}
.nav ul li.active,.nav ul li.focus{
    background-color: rgb(7, 28, 255);
}
.orderM {
    color: #acbdd3;
    text-align: center;
    padding-top: 20px;
}

.nav ul li >div{
    float: left;
    align-items: center;
}

.nav h2{
    padding: 10px ;
    text-align: center;
    font-size: 20px;
}

.nav h2:hover{
    background-color: #101e5a;
}
.logo{
    margin-left: 60px;
    /* border-bottom: 1px solid rgb(84, 80, 80) ; */
}
.logo img{
    height: 40px;
    /* width: 80px; */
}
.sign a i{
    color: #bdc3ff;
}
.sign a i:hover{
    color: rgb(255, 255, 255);
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #bdc3ff;
    padding: 10px ;
}
.name h3{
    font-size:  14px;
    font-weight: lighter;
}

.name img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.item{
    position: absolute;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    background-color: rgb(0, 0, 51);
    opacity: 0;
    z-index: -1;
    transform:translateY(-20px) ;
    transition: 0.2s ;
    align-items: center;
}
.item-active{
    position: relative;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    transform:translateY(0px) ;
    background-color: rgb(0, 0, 51);
    transition: 0.2s  ;
    opacity: 1;
    z-index: 1;
}

.item a{
    padding: 5px;
    width: 100%;
}

.item a:hover{
    background-color: #101e5a;
    color: white;
}
.item a i{
    float: right;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.chart1{
    width: 100%;
}
.numbers{
    width: 100%;
    /* background-color: tomato; */
    display: grid;
    
    grid-template-columns: 25% 25% 25% 25% ;
}

.content{
    overflow:auto;
   width: 100%;
}
.content h3{
    width: 100%;
    padding: 5px;
    font-size: 22px;
    box-sizing: border-box;
    color:  #406caf;
}
.numbers > div{
    width: 250px;
    margin-left: 10px;
    height: 110px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.116);
}
.num-format{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.num1{
    background: linear-gradient(to right, rgb(1, 43, 255,0.8),rgba(128, 0, 255));
    color: #bdc3ff;
}

.num2{
    background: linear-gradient(to right,rgba(5, 255, 1, 0.8),rgba(3, 164, 0));
    color: #67ff84;
}
.num3{
    background: linear-gradient(to right,rgba(217, 255, 2, 0.8),rgba(176, 211, 0));
    color: #f3f9af;
}
.num4{
    background: linear-gradient(to right,rgba(255, 0, 0, 0.8),rgba(184, 0, 0));
    color: #ff9393;
}

.numbers >div h2{
    padding: 5px;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.064);
}
.numbers >div h4{
    text-align: center;
    align-items: center;
    /* margin: 15px auto; */
    font-size: 24px;
    color: rgb(19, 19, 19);
}
.background{
    background-image: url(../img/wrapper.jpg);
    top: 0;
    background-size:  100% 92px;
    background-repeat: no-repeat;
}

#chart1{
    /* border-radius: 10px!important; */
    border-radius: 5px;
    
}
.chart1{
    margin-left: 10px;
    width: 400px;
    min-height: 200px;
    border-radius: 5px;
    background-color: rgb(230, 230, 237);
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.276); */
}
.chart2{
    /* margin-left: 10px; */
    min-height: 200px;
    width: 95%;
    border-radius: 5px;
    background-color: rgb(230, 230, 237);
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.276); */
}

.stat{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
    height: 70px;
}
.orderDetails{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color:  rgba(145, 145, 255, 0.300);
    margin-right: 5px;
    border-radius: 5px;
}
.orderDetails >div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: #3c55b1;
    border-right: 1px solid #839bf1;
}
.orderDetails >div:last-child{
    border-right: none;
}

.requestDetails{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color:  rgba(145, 145, 255, 0.300);
    border-radius: 5px;
    margin-left: 5px;
}
.requestDetails >div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: #3c55b1;
    border-right: 1px solid #8599e1;
}
.requestDetails >div:last-child{
    border-right: none;
}
.charts{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 10px;
}
.charts h3{
    font-weight: lighter;
    font-size: 16px;
}

.content-3{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    /* border-radius: 5px; */
    height: 140px;
    position: relative;
    font-weight: bolder;
    margin-right: 10px;
}

.content-3 >div {
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;

}
.content-3 h3{
    font-weight: bolder;
    font-size: 16px;
    color: #3c55b1;
}
.content-3 img{
    bottom:10px;
    position: absolute;
}
.box-details{
    color: #3c55b1;
    position: absolute;
    right: 20px;
    bottom: 20px;
}


.chart3{
    border-radius: 5px;
    /* margin-left: 10px; */
    background-color: rgb(230, 230, 237);
    position: relative;
}

      /* student page css */

.table table{
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    margin-left:10px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: auto;
}
.table table tr th,td{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid rgb(205, 202, 202);
    min-width: 100px;
    
}
.table table tr th{
   
    color: rgb(0, 0, 255);
}

.search {
    /* background-color: rgb(163, 163, 255); */
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   border: none;   
}

.search-bar{
    width: 410px;
}
.search-bar input{
    padding: 5px;
    border: none;
    outline: none;
    width: 300px;
    /* margin-right: 50px; */
}
.search-bar button{
    /* position: sticky; */
    right: -20px;
    width:40px ;
    outline: none;
    padding: 5px;
    border: none;
    background-color: blue;
    cursor: pointer;
}
.search-bar button i{
    color: white;
}

.search >button{
    padding: 5px;
    width: 200px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* pop up  */
.unblock-box{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}
.unblock{
    position:fixed;
    top:80px;
    width: 600px;
    height: 300px;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: white !important;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 8px 8px #5d80b6;
    transition: 5s ease all ;
    text-align: center;
}
.block-box{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}
.block{
    position:fixed;
    top:80px;
    width: 800px;
    height: 450px;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 8px 8px #5d80b6;
    transition: 5s ease all ;
    text-align: center;
}
.block:not(){
    pointer-events: none;
}

.iconClose{
    float: right;
    cursor: pointer;
}
.accept-btn{
    padding: 10px 10px;
    width: 150px;
    color: white;
    background-color: #0093FF;
    border: none;
    margin:80px 0 0 80px ;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgb(139, 139, 139); */
}
.cancel-btn{
    padding: 10px 10px;
    width: 150px;
    color: black;
    background-color: white;
    border: 2px solid #0093FF;
    margin:10px 0 80px 0;
    cursor: pointer;
    border-radius: 5px;
}
.title1{
    text-align: center;
    color :#101e5a;
}

.para{
    width: 100%;
    padding: 10px 30px;
    text-align: left;
}
.para p{
    font-size: 18px;
    font-weight: bold;
}

.con{
    margin-left: 20px;
    margin-top: 5px;
}
.con input[type="text"]{
   width: 300px;
   border: none;
   padding: 5px;
}
.btn{
    width: 100%;
    margin-top: 20px;
    margin-left:200px ;
    cursor: pointer;
}
.btn button{
    padding: 10px;
    width: 200px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size:18px ;
    
}
.btn-class{
    text-align: center;
}

.block-contain{
    display: flex;
}

.details{
    height: 90px;
    width: 300px;
    margin: 20px 5px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.details h3{
    /* font-weight: lighter; */
    font-size: 14px;
    color: red;
    margin-bottom: 5px;
}
.title1 i{
    cursor: pointer;
}


.report-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    align-items: center;
    background-color: white;
}
.report-box > div {
    display: flex;
    margin-right: 10px;
}
#report-type{
   border: 2px solid #b0cfff;
   border-radius: 3px;
   color: #5d80b6;
   font-size: 16px;
}
.report-box a{
    background-color: #101e5a;
    padding: 7px 30px;
    /* color: black; */
}
.report-box > div h2{
    margin-right: 10px;
    width: 220px;
}
.time{
    display: flex;
    padding: 7px;
    background-color: white;
    margin-bottom: 3px;
}
.time > div{
    width: 200px;
    display: flex;
    /* justify-content: space-around; */
    padding: 0 15px;
}
time > div h4{
    margin-right: 5px;
    padding: 0 15px;
}
time > div select{
    padding: 0 10px;
}
.accept{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 100;
    padding: 2px;
    border-radius: 3px;
}
.accept-not{
    background-color: rgb(255, 255, 69);
}
.accept-apt{
    background-color: rgb(136, 238, 123);
}
.accept-bld{
    background-color: rgb(255, 110, 99);
}

/* report page css */
.report-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.report-table{
    width: 60%
}
.report-table table{
    background-color: white;
    margin-left: 20px;
}
.report-table tr{
    height:100px;
    font-weight: bolder;
    color: #252525;

}
.report-table th{
    text-align: left;
    background-color: #5d80b6;
    border: #5d80b6;
    padding:10px;
    color: white;
    font-size: 14px;
}
.report-chart{
    width: 40%;
}

.positive{
    margin-left: 10px;
    color: rgb(1, 189, 1);
}
.negative{
    margin-left: 10px;
    color: rgb(209, 209, 209);
}
.summery
{
    position: absolute;
    right: 250px;
    top: 5px;
    display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-around;
    background-color: #e3ebf0;
    padding:0 5px;
}
.circle {
    /* background-color: red; */
    width: 100px;
    height: 80px;
    border-radius: 50px;
    /* border: 4px solid #406caf; */
    align-items: center;
    display: flex;
    /* justify-content: space-around; */
    text-align: center;
    font-size: 10px;
    color: #0093FF;
}

.numUser{
    position: absolute;
    right: 500px;
    top: 5px;
    display: flex;
    align-items: center;
    width: 140px;
    text-align: center;
    justify-content: space-between;
    color: #0093FF ;
}
