@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

body {
    /* font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden; */
    background-color: #acbdd38c;
    /* align-content: center;
    align-items: center; */
}


/* **************************************************************** */

.box_outer {
    /* background-color: rgba(238, 238, 238, 0.699); */
    /* width: 90%; */
    /* height: 1350px; */
    /* position: relative; */
    /* margin-bottom: 100px; */
    /* display: flex; */
    /* background-color: #09c5648c; */
    /* align-content: center;
    align-items: center; */
    background-color: white;
    margin: 40px 1% 100px 1%;
    padding: 30px;
    box-shadow: 0 0 3px 0.1px rgba(81, 84, 88, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 30%;
}


/* .resquest {
    position: fixed;
    right: 0px;
} */

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* *************************************************************** */

.inner_slider {
    /* background-color: red; */
    /* margin: 30px; */
    padding: 10px;
    width: 65%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 25px;
    /* box-shadow: 0 4px 8px 0 rgba(171, 208, 238, 0.5); */
}

.inner_slider h1 {
    text-transform: capitalize;
    color: #101e5a;
}

.inner_slider h3 {
    text-transform: capitalize;
    color: #101e5a;
}

.inner_right {
    /* position: fixed; */
    /* background-color: yellow; */
    /* margin-bottom: 700px; */
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); */
    /* margin-bottom: 50%; */
    width: 30%;
    top: 60%;
    /* margin-bottom: 100px; */
    /* display: flex; */
}

div.resquest {
    /* padding: 100px 0px 0px 0px; */
    /* position: -webkit-resquesy; */
    /* position: sticky;
    position: -webkit-sticky; */
    position: -webkit-resquest;
    /* Safari */
    position: sticky;
    top: 150px;
}

.inner_slider span {
    font-size: medium;
    /* padding-left: 20px; */
    color: #101e5a;
}

.inner_main h2 {
    padding-left: 20px;
    text-transform: uppercase;
}

.inner_slider h4 {
    text-transform: capitalize;
    color: #101e5a;
    font-weight: 2500;
    font-size: large;
}

.details {
    padding: 30px;
    font-size: medium;
}

.details p {
    color: #101e5a;
    padding: 5px;
    text-transform: capitalize;
    font-weight: bold;
    /* posision: */
}

.inner_right h2 {
    color: #101e5a;
}

.expandable {
    margin-top: 20px;
}


/* ************collapsible********************** */

.collapsible {
    background-color: #acbdd3;
    color: #101;
    cursor: pointer;
    padding: 28px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    height: 100px;
}

.active,
.collapsible:hover {
    background-color: #d6d6d6;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapsible i {
    color: rgb(7, 7, 7);
    font-size: large;
}

.btn6request {
    background-color: #101e5a;
    /* Green */
    color: #fff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    margin-left: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

.btn6request:hover {
    background-color: #354072;
    color: white;
}

textarea {
    margin: 10px;
}

span {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
}


/* ********************************************* */