@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    
}
li{
    list-style: none;
}

body{
   background-color:  #5d81b60e;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    
}

.live_container{
    background: rgba(190, 179, 252, 0.6);
    width:100%;
    height:500px;
    /* position: fixed; */
    background-attachment: fixed;
}

.live_searchbar{
    background-color: rgb(75, 74, 74);
    padding:15px;
    /* background-attachment: fixed; */
    position: sticky;
    transition: 0.9s;
}

.live_searchbar span{
    color:white;
    padding-left: 10%;
    padding-right: 2%;
}

.live_searchbar input{
    padding: 7px;
    font-size: 15px;
    border: 1px solid rgb(85, 84, 84);
    width:35%;
    background: #f1f1f1;
    cursor: text;
    border-radius: 5px 5px 5px  5px;
    outline-width: none;
    color: #0f0d66;
    padding-left: 15px;
}

.live_searchbar input :hover{
    background: rgb(75, 75, 75);
    
}

.table-responsive{
    background-color: white;
    margin: 3%;
    z-index: 1;
    padding:10px;
    font-size:14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.table-responsive th{
    text-align: left;
    padding-right: 2%;
    padding-left:1%;
}

.divtable{
    text-decoration: none;
    color: black;
}

.inner_img img{
    
    width: 220px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
}

.img_th{
    width:200px;
    align-content: center;
}

th{
    padding-left:14px;
}

.inner_img{
    padding:10px;
    margin-right:20px;
    place-content: center;
}

.outer_result_block{
    /* background-color: red; */
    margin-right: 30%;
}

.live_searchbar-fixed{
    padding: 0 20px 0 160px;
    background-color: rgb(21, 21, 24)!important; 
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: 0.9s;
}

.right_bar{
    position:fixed;
    float: left;

}

/* .popup_signin{
    width:400px;
    height: 220px;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    position: absolute;
    top:300px;
    left:36%;
    border-radius: 15px;
background: rgb(9,9,121);
background: linear-gradient(212deg, rgba(9,9,121,0.6828769298081987) 0%, rgba(0,212,255,0.6098432219430302) 100%);
}

#close{
    font-size: 20px;
    color: rgb(199, 197, 197);
    width:20px;
    height:20px;
    border-radius: 50%;
    border:2px solid  rgb(199, 197, 197);
    z-index: 200;
    position: absolute;
    left:400px;
    top:-15px;
    margin-left: 3px;
    cursor: pointer;
}

.popup_signin span :hover{
    background-color: black;

} */


.backdrop_1{
    display: block;
    background-color:#5d80b6;
    padding-bottom:40px;
    
}

.backdrop_1 img{
    width:100vw;
    height: 550px;
    object-fit: cover;
    object-position: -10% 20%;
    filter: brightness(90%);
    opacity: 80%;
}

.bc_title{
    /* #101e5a  ,#5d80b6, #acbdd3,#f7f8f9, #cbc6c3 */
    background-color: #acbdd3f1;
    width: 60%;
    /* height:260px; */
    position: absolute;
    margin-top:110px;
    z-index: 4;   
}
.backdrop_1 .toplayer{
    padding: 30px;
    padding-left: 10%;
}

.backdrop_1 .toplayer h1{
    font-family: cursive;
    color:#5d80b6 ;
    font-size: 50px;
}

.backdrop_1 .toplayer span{
    color: #5d80b6;
    filter: brightness(500%);
    font-size: 25px;
    font-weight: 700;
}

.post_container{
    display: flex;
}

.whole input[type=text]{
    width:340px;
    height: 35px;
    font-family: 'Baloo Chettan 2', cursive;
    outline: none;
    border: none;
    padding: 2px;
    
}

.whole .search_box{
    background-color: #5d80b6;
    margin-top: 40px;
    width: 400px;
}

.whole .search_box i{
    padding-left: 18px;
}

.whole .search_box::placeholder{
    font-family: 'Baloo Chettan 2', cursive;
    padding-left:5px ;
    color: rgba(128, 128, 128, 0.726);
}
.mid_L .f_post{
    background-color: rgba(231, 231, 229, 0.795);
    height: 170px;
    
}

.mid_L .f_post img{
    height: 170px;
    width: 240px;
    object-fit: cover;
    overflow: hidden;

    
}

.mid_L .f_post{
    display: flex;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.1px rgba(136, 136, 136, 0.5); 
}

.mid_L .f_post:hover{
    box-shadow: 0 0 10px 0.1px rgba(85, 85, 85, 0.5); 
    background-color: rgba(223, 223, 223, 0.822);
}

.mid_L .f_post .f_content{
    padding:10px;
    padding-left: 30px;
}

.mid_L .f_post .f_content h2{
    font-size: 20px;
    letter-spacing: 1px;
    color:rgb(59, 59, 59);
}

.mid_L .f_post .f_content i{
    color:orange;
}

.mid_L .f_post .f_content a:hover{
    text-decoration: underline;
}

.mid_L .f_post .f_content #map{
    color: rgb(92, 91, 91);
    margin-right: 10px;
}
.mid_L .f_post .f_content .description{
    margin-top: 8px;
   height: 40px;
   /* background-color: red; */
   overflow-y: hidden; 
}

.mid_L .f_post .f_content .description p{
    font-size: small;
  
}

.mid_L .f_content .short, .mid_L .f_content .long{
    font-size:x-small;
    display: inline;
    
    
}

.mid_L .f_content .short{
    background-color: rgb(4, 204, 4);
    padding-right: 5px;
    padding-left: 5px;
    margin:2px;
}
.mid_L .f_content .long{
    background-color:rgb(6, 181, 240);
    padding-right: 5px;
    padding-left: 5px;
}

.mid_K .iconbar{
    background-color:  #5d80b6;
    display: flex;
}

.mid_K .iconbar .ibox1{
    background-color: #5d80b6;
    width:30%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
   
}
.mid_K .iconbar .ibox2{
    background-color: #5d80b6;
    width:70%;
    display: flex;
    justify-content: space-around;
}

.mid_K .iconbar i{
    padding-top: 17px;
    color:white;
    font-weight: 700;
}

.mid_K .iconbar .ibox1:hover{
    background-color:#101e5a;
   
    
   
}
.mid_K .iconbar .ibox2:hover{
    background-color: #101e5a;
  
}

.mid_L .fp_search{
    background-color:#5d80b6;
    margin-top: -40px;
    padding:5px;
    display: flex;
    justify-content:space-around;

}

.mid_L .search_box{
    margin-top:20px;
    margin-bottom:21px;
    background-color:#101e5a ;
}

.mid_L .search_box i{
    background-color:#101e5a ;
    padding-left: 18px;
    color:white;
}

.post_box{
    padding: 20px;
}

.mid_K .filterform{
    padding:20px;
    padding-left: 40px;
}

.mid_K .filterform input[type=text]{
    border:1px solid grey;
    width:60%;

}
.mid_K .filterform input[type=checkbox]{
    display: inline;
    
}

.mid_K .filterform input{
    margin: 10px;
    
}

.not_available{
    
    font-size: x-small;
    border-radius:10px ;
    padding: 3px;
    color: rgb(255, 38, 0) ;
    border: 1px solid rgb(255, 38, 0);
    margin-right: 20px;
    margin-left: 10px;
    margin-top: -6px;

}
