/* .middle_b{
    margin-left:250px;
    background-color: red;
    display: flex;
  } */
  
  .container2{width:100%; display: flex; flex-wrap: wrap; }
  .sidebar_b{width: 20%;display:block;}
  body{background-color:#f7f8f9 ;}


  .middle_b h1{width: 100%; margin-left: 3%; text-transform: uppercase; color:#5d80b6 ;}
  
  h1 .p_edit{margin-left: 50px; padding: 4px  20px; background-color:#5d80b6 ;color:white; text-transform: uppercase; border-radius: 5px; font-style: oblique; border: none; }

  h1 .p_edit .fas{padding:5px;}
  h1 .p_edit:hover{background-color:  #acbdd3;}

  h1 .p_edit{margin-top:-30px ;}

  .middle_b h3{margin-left: 3%; text-transform: uppercase; color:#5d80b6 ; margin-bottom: 10px;}

  hr{ margin-bottom: 10px;}

  .mid_A p{ font-weight: 500; color: rgb(119, 119, 119);}

  /* p span{color:#3567b3;} */



  .mid_B{
    display: inline;
    position: relative;
  }

   .profile_img{
    width: 15vw;
    height: 15vw;
    /*border-radius: 100px;
    margin-bottom: 10px;*/
    object-fit:cover;
    border-radius:50%;
    margin:10px ;
    border:rgb(160, 158, 158) 1px solid;
    display: block;
    
  }

 

  .profile_photo{
      /* background-color: blue; */
      display: inline;
      z-index: inherit;
  }

  .p_infor{
    display: inline;
    /* background-color: rgb(164, 164, 221); */
    width:100%;
    padding-top:20px;
  }

  .p_infor h2{margin-top: -25px; padding-left: 20px;}

  .prof_info{
    width: 30vw;
    height: 4vw;
    padding-bottom: 50px;
    padding-left:20px ;
    
  }

  .prof_info p{
     color: #101e5a;
     padding: 10px;
  }

  .stat_bar1{
    /* background-color: turquoise; */
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: rosybrown;
    
  }


  .stat_item1{
    /* background-color: red; */
    margin:10px;
    width: 30%;
    justify-content: space-around;
    border-right: 1px solid #d4af37;
    text-align: center;
  }

  .stat_item1 li{
    color: #5d80b6;
    display: flex;
    
  }

  .stat_item1 span{
    font-size: 40px;
    color: rgb(136, 135, 136);
    
  }

  /* .stat_bar1 li{
    display: inline;
    color: #5d80b6;
    font-size: large;
    padding-bottom: 100px;
    margin:0px;
  }

  .stat_bar1 p{
   font-size: 40px;
   color: rgb(136, 135, 136);
  } */

  .mid_B{
    z-index: 0;
  }


  .middle_b .mid_A .detail_table .list{
    display: flex;
    /* background-color: yellow; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px ;

  }
  .middle_b .mid_A .detail_table .pr_th{
    /* background-color: red; */
    width:25%;
    font-weight: 600;
    color:#496a9c ;
  }

  .middle_b .mid_A .detail_table .pr_td{
    /* background-color: blue; */
    display: flex;
    font-weight: 400;
     color: rgb(54, 54, 54);
  }

  .mid_A .edit_lable{
    padding-top:5px;

    padding-bottom: 10px;
  }

  .mid_A .edit_lable .labal{
    padding-top: 7px;
  }

  .submit_button input{
    margin: 5px;
  }

  .status{
    width:100%;
    background-color: #dadada;
    margin-top: 20px;
    padding:15px;
  }

  .status .statbox{
    display: flex;
    justify-content: space-between;
  }

  .statbox .vertical_bar{
      border-left: 3px solid #d4af37;
      height: 135px;
  }

  .statbox .info{
    padding-top: 10px;
    justify-content: space-around;
    
  }

  .statbox .num{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: #5d80b6;
  }